  
.Header {
    background-color: #282c34;
    min-height: 10vh;
    color: white;
}

.Logo {
    height: 8vh;
    margin-top: 1vh;
    margin-left: 1vw;
}
  
.PageTitle{
    position: absolute;
    top: 1vh;
    margin-left: 20px;
    display: inline-block;
    font-size: 8vh;
    font-weight: 700;
}

