tbody tr{
    height: 22px;
}

tbody tr:hover{
    background-color: lightblue;
}

tbody > tr:nth-child(odd){
    background-color: #ddd;
}

tbody > tr:nth-child(even){
    background-color: #fff;
}

td{
    color: #3f3e3a;
    text-align: center;
    vertical-align: middle;
}

thead{
    background-color: #3f3e3a;
    font-weight: 600;
    font-size: 20px;
    color: #eff0f2;
}

th{
    height: 26px;
    vertical-align: middle;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

thead tr:last-child th:last-child {
    border-top-right-radius: 10px;
}

.GolferPhotoWrap img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.OptionsTD{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 50% 50%;
}

.OptionIconWrap{
    width: 20px;
}

.TableWrapper,
.Table{
    width: 100%;
}

.TextTD{
    text-transform: capitalize;
}