.Input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    line-height: 20px;
    padding: 5px 20px;
    border: 1px solid #F6F6F6;
    outline: none;
    margin-bottom: 15px;
}

.Invalid{
    border: 1px solid red;
    background-color: #fda49a;
}

.ValidationError {
    color: blue;
    margin: 5px 0;
    text-transform: capitalize;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
} 